body
{
    background-color: papayawhip;
    color: rgb(226, 43, 211);
    font-family:Arial, Helvetica, sans-serif;
}
.headboard {
    background-color: rgb(226, 43, 211);
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding: 0.5em;
    font-weight: bold;
    margin: 0;
    font-size: 400%;
}
.container {
    
    width: 70%;
    text-align: center;
    border: 3px solid rgb(255, 197, 247);
    border-radius: 0px;
    margin:0 auto;
    margin-top: 5%;
}
h1{
        font-size: 900%;
        margin-bottom: 80px;
}
p{
    font-size: 160%;
    
    font-size: 150%;
}
.post {
    padding: 1em;
}